extends ../shared/template
block content
  button#btn1 Start
  button#btn2 Timer
  button#btn3 Clear
  button#btn4 Numbers
  input#txt1(type='text1')
  ul#numbers
  h1 Hello
  h2 World
  h3 Awesome
  div dA
  div dB
  #alpha Alpha
  #beta Beta
  .alert alert 1
  .alert alert 2
  #gamma.alert alert 3
