.awesome{
  color: red;
  background-color: orange;
  border: 3px double green;
  padding: 10px
  font-size: 40px;
}

.cool{
  color: blue;
  background-color: purple;
  border: 2px dotted olive;
  padding: 5px
  font-family: monospace;
}
